/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family:cursive;
  background-color:#eaf6f6;
  color: #333;
  
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background-color:hidden;
  color: #fff;
  text-align: center;
  padding: 5px;
  background-image: url(picture-gallery/compu.jpg);
  background-size: 10%;
  font-family:cursive;
}

h1 {
  font-size: 36px;
}

/* Intro section styles */
#intro {
  background-color: #eaf6f6;
  text-align: center;
  padding: 50px 0;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.explore-button {
  display: inline-block;
  padding: 12px 30px;
  background-color:none;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  transition: background-color 0.3s ease;
  background-image: url(picture-gallery/eng.jpg);
  background-size: 50%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.explore-button:hover {
  background-color: #0056b3;
}

/* Picture gallery styles */
.picture-gallery {
  text-align: center;
  padding: 50px 0;
}
/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.lightbox img:hover {
    transform: scale(1.1);
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}


.gallery-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery-container img:hover {
  transform: scale(1.1);
}
.card > img{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0px;
}
.card > p{
  font-family:cursive;
  padding:0px 10px 10px 10px ;
  text-align: center;
  color:black;
  text-shadow: #fff;
}


/* Lightbox styles */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}
footer{
  text-align: center;
  background-position-x: center;

}
